@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Nunito:wght@200;400;600;800;900&family=Poppins:wght@500&family=Readex+Pro:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');


body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;

}


